In [ ]:
sum= 1 + 2 #3
product = sum * 2
print (product)

6

In [ ]:
python3 program.py

SyntaxError: invalid syntax (1095832579.py, line 1)

In [ ]:
x = "5"
y = "9"
z= x+y
f=False
H="cesar"

print (z)

59

In [ ]:
print(id(z))

2902413083280

In [ ]:
print(type(x))

<class 'int'>

In [ ]:
print(type(f))

<class 'bool'>

In [ ]:
print(type(H))

<class 'str'>

In [ ]:
print (H,"es genial")

cesar es genial

In [ ]:
mensaje= input("ESCRIBE el ultimo numemero de cedula ")
print ("el numero del usuario usuario es :",mensaje)
print("grupo asignado sera el :",mensaje)

el numero del usuario usuario es : 8
grupo asignado sera el : 8

In [ ]:
mensaje1=(input("escribe el primer numero de la cedula : "))
mensaje2=(input("escribe el ultimo numero de la cedula : "))

if int (mensaje1) and int (mensaje2): 
    operacion=((mensaje1+mensaje2)/2)
    print('muy bien perro')
else:
    print("Es un numero pinche perro")

print("este sera el grupo asignado para usted : ",int(operacion))

ValueError: invalid literal for int() with base 10: 'hola'

In [ ]:
pregunta = int (input("como estuvo tu dia de (1 a 10): "))
if (int (pregunta) >7 ):
    print ('estuvo perron')
else:
    print("TOME UNA POLA")

print("mi dia estuvo :",pregunta)

estuvo perron
mi dia estuvo : 8

In [ ]:
titulo= (str(input("proporcionar el nombre del libro : ")))
autor=(str(input("proporcionar el nombre del autor : ")))
print("el libro registrado es:",titulo,"\nel autor del libro es:",autor)

el libro registrado es: kely
el autor del libro es: importa

In [ ]:
operacion2= x + y
print (f"operacion: {operacion2}")
print ("operacion",operacion2)

operacion: 59
operacion 59

In [ ]:
alto= int(input("proporcionar el alto"))
ancho= int (input("proporcionar el ancho"))
area = alto * ancho
perimetro=(alto *ancho)*2
print(f"el area de su rectacngulo es:{area}",f"\nel perimetro de su rectacngulo es:{perimetro}")

el area de su rectacngulo es:1080
el perimetro de su rectacngulo es:2160

In [ ]:
miVariable=5
miVariable +=5
miVariable *=3
miVariable -=7

In [ ]:
print(miVariable)

23

In [ ]:
l=int(input("ESCRIBE EL VALOR :"))
if l % 2 == 0:
    print(f"el valor de a es PAR:{l}" )
else:
    print(f"el valor NO ES PAR :{l}" )

el valor de a es PAR:200

In [ ]:
edadAdulto=18
edadDeLaPersona= int(input("que edad tienes :"))
if edadDeLaPersona >= edadAdulto:
    print(f"PUEDES INGRESAR YA QUE TIENES : {edadDeLaPersona}")
else:
    print(f"NOOO PUEDES INGRESAR YA QUE TIENES : {edadDeLaPersona} PINCHE PUERCO")

NOOO PUEDES INGRESAR YA QUE TIENES : 10 PINCHE PUERCO

In [ ]:
valor=int(input("introduce el numero :"))
valor_max=5
valorMin=0

if valor <= valor_max and valor >= valorMin:
    print(f"el numero {valor} esta dentro del rango")
else:
    print(f"el numero {valor} esta FUERA del rango")

el numero 6 esta FUERA del rango

In [ ]:
vacaciones= False
descanso= False
if vacaciones or descanso:
    print("puede ir al partido")
else:
    print("siguele chingando mijo")

siguele chingando mijo

In [ ]:
edad=int(input("introduce tu edad :"))
veintes = edad >= 20 and edad < 30
print(veintes)

treinta = edad >= 30 and edad < 40
print(treinta)

if veintes or treinta:
    #print("dentro de rango (20\'s) o(30\'s)")
    if veintes:
        print("dentro de los 20")
    elif treinta:
        print("dento de los 30")
else:
    print("No esta dentro de los 20's ni 30's")

False
False
No esta dentro de los 20's ni 30's

In [ ]:
numero1= int(input("primer numero"))
numero2= int(input("segundo numero"))

if numero1 > numero2:
    print (f"el numero mayor es:{numero1}")
elif numero2 >numero1:
    print (f"el numero mayor es:{numero2}")
else:
    print("estan iguales")

estan iguales

In [12]:
print("Proporcione los siguientes datos del libro:")
nombre_del_libro=str(input("proporciona el nombre del libro:"))
id=int(input("Proporciona el ID:"))
precio=float(input("proporcione el precio:"))
envio=(input("el envio es gratuito(True/False):"))
if envio == "true":
    envio= True
elif envio == "false":
    envio= False
else:
    envio="valor incorrecto, debe escribir true/false"
print (f"el nombre del libro es : {nombre_del_libro}",f"\n el id del libro es : {id}" , f"\nel precio del libro es : {precio}" , f"\n el envio es gratis: {envio}")
print (f'''
    nombre :{nombre_del_libro}
    id :{id}
    precio : {precio}
    envio : {envio}
''')

Proporcione los siguientes datos del libro:
el nombre del libro es : dfjkgnjkdfhgj
 el id del libro es : 564546
el precio del libro es : 455456.0
 el envio es gratis: valor incorrecto, debe escribir true/false

    nombre :dfjkgnjkdfhgj
    id :564546
    precio : 455456.0
    envio : valor incorrecto, debe escribir true/false

In [19]:
f+= 5
d*=2
s= f+ d
print (s)

62

In [20]:
from datetime import date
date.today()
print(date.today())

2022-02-21

In [27]:
a = 93
b = 27
if a >= b:
    print("a es mayor o igual que b")
elif a == b:
    print("a es igual que b")
else:
    print ("a es menor que b")

44

In [30]:
a = int(input("introduce el primer numero: "))
b = int(input("introduce el segundo numero: "))
if a >= b:
    print("a es mayor o igual que b")
elif a == b:
    print("a es igual que b")
else:
    print ("a es menor que b")

a es mayor o igual que b

In [34]:
a = 23
b = 35
if a == 34 or b == 34:
    print(a + b)

In [36]:
fact = 'The Moon has no atmosphere.'
fact + 'No sound can be heard on the Moon.'

'The Moon has no atmosphere.No sound can be heard on the Moon.'

In [37]:
two_facts = fact + 'No sound can be heard on the Moon.'
two_facts

'The Moon has no atmosphere.No sound can be heard on the Moon.'

In [38]:
two_facts

'The Moon has no atmosphere.No sound can be heard on the Moon.'

In [39]:
heading = 'temperatures and facts about the moon'
heading.title()

'Temperatures And Facts About The Moon'

In [43]:
temperatures = '''Daylight: 260 F
..  Nighttime: -280 F
'''
temperatures .split('\n')

['Daylight: 260 F',
 '..  Nighttime: -280 F',
 '.... jhdjfasjkdfn',
 '    kdfjsdjfn',
 '  ...      jkdfgjkdfsjgn',
 '',
 '']

In [44]:
'Moon' in 'This text will describe facts and challenges with space travel'

False

In [45]:
'Moon' in 'This text will describe facts about the Moon'

True

In [46]:
temperatures = '''Daylight: 260 F
... Nighttime: -280 F'''
temperatures .split()

['Daylight:', '260', 'F', 'Nighttime:', '-280', 'F']

In [47]:
temperatures.find('Moon')

-1

In [48]:
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'
# Creamos el título
title = f'datos de gravedad sobre {nombre}'
# Creamos la plantilla
hechos = f"""{'-'*80} 
Nombre del planeta: {planeta} 
Gravedad en {nombre}: {gravedad * 1000} m/s2 
"""
# Unión de ambas cadenas
template = f"""{title.title()} 
{hechos} 
""" 
print(hechos)
# Nuevos datos muestra
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'
# Comprobamos la plantilla
print(hechos)
new_template = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad))
# Pista: print(nueva_plantilla.format(variables))
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

--------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2

--------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2


Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2


Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2

In [49]:
# Datos con los que vamos a trabajar

planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'
# Creamos el título
title = f'datos de gravedad sobre {nombre}'
# Creamos la plantilla
hechos = f"""{'-'*80} 
Nombre del planeta: {planeta} 
Gravedad en {nombre}: {gravedad * 1000} m/s2 
"""
# Unión de ambas cadenas
template = f"""{title.title()} 
{hechos} 
""" 
print(hechos)
# Nuevos datos muestra
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'
# Comprobamos la plantilla
print(hechos)
new_template = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad))
# Pista: print(nueva_plantilla.format(variables))
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

--------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2

--------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2


Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2


Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2